* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*Every page*/

#Navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 250%;
  opacity: 0.6;
  background-color: rgb(115, 192, 223);
  z-index: 3;
}
.Nav {
  text-decoration: none;
  color: black;
}

.pages {
  margin: 0;
  background: rgb(161, 176, 221);
  background: linear-gradient(
    90deg,
    rgba(161, 176, 221, 1) 0%,
    rgba(218, 190, 231, 1) 100%
  );
  animation: gradientBG 12s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.UDLogOut {
  background-color: #4c47f7;
  color: white;
  padding: 10px 80px 14px 80px;
  border: none;
  border-radius: 5px;
  font-size: 100%;
  font-weight: 700;
}
.UDButtonLogOut {
  background-color: #4c47f7;
  color: white;
  padding: 10px 80px 14px 80px;
  border: none;
  border-radius: 5px;
  font-size: 70%;
  font-weight: 700;
}
.UDButton:hover {
}
.changeImage {
  background-color: url("default-button.png");
}
.changeImage:hover {
  background-color: url("hover-button.png");
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  display: grid;
  place-items: center;
}
.loader {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.pointer {
  cursor: pointer;
}
/*Every page end*/
#footer {
  padding-top: 1vh;
  font-size: 210%;
  background-color: rgb(136, 175, 190);
  opacity: 0.8;
}
